#miBackground{
       background-color: rgb(12, 12, 12);
       position: relative;
       min-height: 100vh;
       padding: 0;
}
#content-wrap {
       padding-bottom: 3rem;
}
#custHeader{
       padding-top: 20px;
       padding-bottom: 20px;
       text-align: center;
       font-size: 3vw;
       margin: 0 auto;
       color: white;
}
#navMenu{
       text-align: center;
       padding: 0 8px 35px;
}
.custMenuText a{
       color: white;
       text-decoration: none;
}
.custMenuText{
       color: white;
       font-size: 1.5vw;
       letter-spacing: .8px;
}
.custMenuText a:hover{
       text-decoration: underline;
       cursor: pointer;
}
#custFooter{
       position: absolute;
       bottom: 0;
       width: 100%;
       height: 3rem;  
       background-color: gray;
       margin: 0 auto;
       color: white;
}
.crop {
       max-height: 600px;
       overflow: hidden;
}
.crop img {
       height: 100%;
       width: auto;
}