#miBackground{
       background-color: rgb(12, 12, 12);
       height: 100vh;
}
#custHeader{
       padding-top: 20px;
       padding-bottom: 20px;
       text-align: center;
       font-size: 3vw;
       margin: 0 auto;
       color: white;
}
.custMenuText{
       color: white;
       font-size: 1.5vw;
       letter-spacing: .8px;
}
.custMenuText:hover{
       text-decoration: underline;
       cursor: pointer;
}